<div class="title-block title-block--center">
  <h3 class="title title--mg-right">
    Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button
      (click)="openFilter()"
      class="btn-sm btn btn-primary-outline"
    >
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>
<div
  *ngIf="!isLoaded"
  class="row text-center"
>
  Loading ...
</div>
<div
  *ngIf="isLoaded"
  class="row"
>
  <app-history-chart [data]="chartData"></app-history-chart>

  <app-history-events
    [categories]="categories"
    [events]="filterEvents"
  ></app-history-events>

  <div *ngIf="isVisibleFilter">
    <app-history-filter
      (applyFilterOn)="filterOnApply($event)"
      (closeFilterOn)="filterOnClose()"
      [categories]="categories"
    ></app-history-filter>
  </div>
</div>
