<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          (click)="closeFilter()"
          type="button"
          class="close"
        >
          <span>×</span>
        </button>
        <h4 class="modal-title">Фильтр</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="period">Выберите период</label>
          <select
            [(ngModel)]="selectedPeriod"
            class="form-control"
            id="period"
          >
            <option
              *ngFor="let period of timePeriods" [value]="period.type"
            >{{period.label}}</option>
          </select>
        </div>
        <div
          class="form-group"
        >
          <label class="control-label">Выберите тип события</label>
          <div
            *ngFor="let type of typesRadio"
          >
            <label>
              <input
                class="checkbox"
                type="checkbox"
                [name]="type.type"
                [value]="type.type"
                (change)="changeType($event.target)"
              >
              <span>{{type.label}}</span>
            </label>
          </div>
        </div>
        <div
          class="form-group"
        >
          <label class="control-label">Выберите категории</label>
          <div
            *ngFor="let category of categories"
          >
            <label>
              <input
                class="checkbox"
                type="checkbox"
                [name]="category.id"
                [value]="category.id"
                (change)="changeCategories($event.target)"
              >
              <span>{{category.name}}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="closeFilter()"
            type="button"
            class="btn btn-secondary"
          >Отмена</button>
          <button
            (click)="applyFilter()"
            type="button"
            class="btn btn-primary"
          >Применить</button>
        </div>
      </div>
    </div>
  </div>
</div>
